In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns
from sklearn.cluster import KMeans

In [3]:
data = [
    {"name": "Animal1", "weight": 5, "size": 30},
    {"name": "Animal2", "weight": 6, "size": 28},
    {"name": "Animal3", "weight": 7, "size": 33},
    {"name": "Animal4", "weight": 30, "size": 70},
    {"name": "Animal5", "weight": 28, "size": 68},
    {"name": "Animal6", "weight": 32, "size": 72},
]
df=pd.DataFrame(data)
df

      name  weight  size
0  Animal1       5    30
1  Animal2       6    28
2  Animal3       7    33
3  Animal4      30    70
4  Animal5      28    68
5  Animal6      32    72

In [5]:
x=df[['weight','size']]
x

   weight  size
0       5    30
1       6    28
2       7    33
3      30    70
4      28    68
5      32    72

In [19]:
kmeans=KMeans(n_clusters=2,random_state=42)
df['cluster']=kmeans.fit_predict(x)
df

      name  weight  size  cluster animal type
0  Animal1       5    30        0         cat
1  Animal2       6    28        0         cat
2  Animal3       7    33        0         cat
3  Animal4      30    70        1         dog
4  Animal5      28    68        1         dog
5  Animal6      32    72        1         dog

In [24]:
df['animal type']=df['cluster'].map({0:'cat',1:'dog'})
df

      name  weight  size  cluster animal type
0  Animal1       5    30        0         cat
1  Animal2       6    28        0         cat
2  Animal3       7    33        0         cat
3  Animal4      30    70        1         dog
4  Animal5      28    68        1         dog
5  Animal6      32    72        1         dog
0      NaN      49    90        1         dog
1      NaN      12    24        0         cat

In [8]:
cen=kmeans.cluster_centers_
cen

array([[ 6.        , 30.33333333],
       [30.        , 70.        ]])

In [16]:
n=pd.DataFrame([
        {"weight": 6, "size": 29}
])
label =kmeans.predict(n)
label

array([0], dtype=int32)

In [17]:
n['cluster']=label
n

   weight  size  cluster
0       6    29        0

In [22]:
ne=pd.DataFrame([
    {"weight": 49, "size": 90},
    {"weight": 12, "size": 24}
])
ne['cluster']=kmeans.predict(ne)
ne

   weight  size  cluster
0      49    90        1
1      12    24        0

In [23]:
df=pd.concat([df,ne])
df

      name  weight  size  cluster animal type
0  Animal1       5    30        0         cat
1  Animal2       6    28        0         cat
2  Animal3       7    33        0         cat
3  Animal4      30    70        1         dog
4  Animal5      28    68        1         dog
5  Animal6      32    72        1         dog
0      NaN      49    90        1         NaN
1      NaN      12    24        0         NaN

In [27]:
df.drop("name", axis=1, inplace=True)

In [29]:
df.reset_index(drop=True, inplace=True)
df

   weight  size  cluster animal type
0       5    30        0         cat
1       6    28        0         cat
2       7    33        0         cat
3      30    70        1         dog
4      28    68        1         dog
5      32    72        1         dog
6      49    90        1         dog
7      12    24        0         cat