In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.cluster import KMeans

In [2]:
df=pd.DataFrame([
    {"model": "PhoneA", "battery": 5000, "price": 150},
    {"model": "PhoneB", "battery": 4500, "price": 200},
    {"model": "PhoneC", "battery": 3000, "price": 800},
    {"model": "PhoneD", "battery": 3200, "price": 950},
    {"model": "PhoneE", "battery": 4000, "price": 400},
    {"model": "PhoneF", "battery": 6000, "price": 180},
    {"model": "PhoneG", "battery": 3300, "price": 750},
    {"model": "PhoneH", "battery": 4800, "price": 250},
    {"model": "PhoneI", "battery": 2800, "price": 1000}

])

In [3]:
df.drop('model',axis=1,inplace=True)

In [4]:
df

   battery  price
0     5000    150
1     4500    200
2     3000    800
3     3200    950
4     4000    400
5     6000    180
6     3300    750
7     4800    250
8     2800   1000

In [5]:
kmeans=KMeans(n_clusters=3,random_state=42)
df['cluster']=kmeans.fit_predict(df)
df

   battery  price  cluster
0     5000    150        1
1     4500    200        2
2     3000    800        0
3     3200    950        0
4     4000    400        2
5     6000    180        1
6     3300    750        0
7     4800    250        1
8     2800   1000        0

In [11]:
df['quality']=df['cluster'].map({0:"normal",1:'good',2:'better'})
df

    battery  price  cluster quality
0      5000    150        1    good
1      4500    200        2  better
2      3000    800        0  normal
3      3200    950        0  normal
4      4000    400        2  better
5      6000    180        1    good
6      3300    750        0  normal
7      4800    250        1    good
8      2800   1000        0  normal
9      5500   2000        2  better
10     7000   5000        0  normal
11     1200    400        1    good

In [8]:
new=pd.DataFrame([
    {"battery": 5500, "price": 2000},
    {"battery": 7000, "price": 5000},
    {"battery": 1200, "price": 400}
])
new['cluster']=kmeans.fit_predict(new)
new

   battery  price  cluster
0     5500   2000        2
1     7000   5000        0
2     1200    400        1

In [9]:
df=pd.concat([df,new])
df

   battery  price  cluster quality
0     5000    150        1    good
1     4500    200        2  better
2     3000    800        0  normal
3     3200    950        0  normal
4     4000    400        2  better
5     6000    180        1    good
6     3300    750        0  normal
7     4800    250        1    good
8     2800   1000        0  normal
0     5500   2000        2     NaN
1     7000   5000        0     NaN
2     1200    400        1     NaN

In [10]:
df.reset_index(drop=True,inplace=True)
df

    battery  price  cluster quality
0      5000    150        1    good
1      4500    200        2  better
2      3000    800        0  normal
3      3200    950        0  normal
4      4000    400        2  better
5      6000    180        1    good
6      3300    750        0  normal
7      4800    250        1    good
8      2800   1000        0  normal
9      5500   2000        2     NaN
10     7000   5000        0     NaN
11     1200    400        1     NaN